 <div class="user-details">
  <h1> Quem sou eu </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Linguagens que mais utilizo.</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-r-original colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Estas são as linguagens que mais utilizo e tenho proeficiencia</p>
    </div>
    <div class="tech">
      <h2>Aprendendo</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <p>Venho aprendendo e me aprofundando cada vez mais na utilização e aplicações destas linguagens</p>
    </div>
</div>
