<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Meu Email" target="mailto:savscosta@gmail.com" href="mailto:savscosta@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Meu LinkedIn" target="https://www.linkedin.com/in/saviscos/" href="https://www.linkedin.com/in/saviscos/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Meu GitHub" target="https://github.com/saviscos" href="https://github.com/saviscos"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre mim</a>
        <a class="link" href="#projects" data-scroll>Projetos</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
