<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nucleutide-blast-cover.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Interface do Blast  </h3>
    <ul>
      <li> ALinhamento de sequencias</li>
    </ul>
    <p>Com o objetivo de auxiliar os pesquisadores a utilizar e ensinar como se faz um alinhamento de sequencias no BLAST+ construi esta ferramenta para Windows e Linux.</p>
    <a class="project-link" target="https://github.com/saviscos/BLAST_Interface" href="https://github.com/saviscos/BLAST_Interface">Veja aqui</a>
  </div>
</div>

